<div class="jumbotron text-center">
  <h1>Go Outside</h1>
  <p class="lead">A social newtworking designed for outdoorsie people</p><br>
  <a class="btn btn-primary" [routerLink]="['/register']">Sign up</a>
  <a class="btn btn-primary" [routerLink]="['/login']">Sign in</a>
</div>

<div class="row text-center">
  <div class="col-md-4">
    <h3>Events</h3>
    <p>Create public and private events!</p>
  </div>
  <div class="col-md-4">
    <h3>Socialise</h3>
    <p>Get to know people by attending local public events</p>
  </div>
  <div class="col-md-4">
    <h3>Be healthy</h3>
    <p>Sports and a good diet leads to a much helthier life!</p>
  </div>
</div>
